@model IEnumerable<SEPAstanaItStep.Models.Users>
@{
}

<h2> List of users</h2>

<a asp-action="Create3" asp-asp-controller="Event" class="btn btn-success">Add users</a>

<table class="table table-striped">
    <tr>
        <th> <a asp-action="Index2" asp-route-sortOrder="@ViewBag.NameSort">Name</a> </th>
        <th> <a asp-action="Index2" asp-route-sortOrder="@ViewBag.AgeSort">Age</a> </th>
        <th> <a asp-action="Index2" asp-route-sortOrder="@ViewBag.EmailSort">Email</a> </th>
        <th> <a asp-action="Index2" asp-route-sortOrder="@ViewBag.CompSort">Company</a> </th>
    <th></th>
    <th></th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>@item.name</td>
            <td>@item.age</td>
            <td>@item.email</td>
            <td>@item.Company?.name</td>
            <td><a asp-action="Edit" asp-controller="Event" asp-route-id="@item.id" class="btn btn-primary">Edit</a></td>
            <td>
                <form asp-action="Delete" asp-asp-controller="Event" method="post" asp-route-id="@item.id">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form></td>

        </tr>
    }
</table>