@inject ITimeService timeService

@{
    ViewData["Title"] = "Home Page";
    User user = new User(123456,"qwerty");
}

<environment names="Development">
    @await Html.PartialAsync("Hello", new List<string>{"Сәлем", "Привет","Hello","Hola"})

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <h2>Current Time: @timeService.Time</h2>
    <h2>Users Data</h2>
    <h3>User ID: @user.UserID</h3>
    <h3>User Name: @user.UserName</h3>

    <div-- class="container"> 
        <div class="row">
            <p> Некэшируемое время <b>@DateTime.Now.ToString("HH:mm:ss")</b></p>
        </div>
        <!-- div class="row">
            <cache priority="Microsoft.Extensions.Caching.Memory.CacheItemPriority.NeverRemove" vary-by="@ViewBag.Id" expires-sliding="TimeSpan.FromSeconds(30) ">
                <p> Кэшируемое время <b>DateTime.Now.ToString("HH:mm:ss")</b></p>
            </cache>
        </div-->


        <div class="row">
            <summary>
                <timer/>
                <date></date>
            </summary>
        </div>

        @await Component.InvokeAsync("Timer");

        <p>
            <vc:timer />
        </p>
        @await Component.InvokeAsync("Header");



        @await Component.InvokeAsync("UsersList");
    @section Footer{
        &copy; 2023 - SEPAstanaItStep - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy - All rights reserved</a>
    }
</environment>

<environment names="Production">
    <h1>This project is under of deleopment</h1>
</environment>